<img src='graphics/panda1-getty.jpg'>

# Pandas, Part 2

In our last meet-up, we introduced the Pandas library and began to work with some basic exploratory tools:
1. Importing the Pandas library
1. Creating DataFrames
    1. Creating an Empty DataFrame
    1. Creating a DataFrame from a Python list
    1. Importing a CSV as a Pandas DataFrame (one of the most common ways to import data into Python)
1. .head( )
1. .tail( )
1. .sample( )
1. .shape
1. .keys( ) & .columns
1. .info( )
1. .describe( )
1. .values_count( )
1. Accessing a feature (column) in a DataFrame
1. Accessing an observation (row) in a DataFrame
1. Navigating a DataFrame using .loc( ) and .iloc( )

These commands helped us to begin establishing or load a DataFrame, then begin exploring the new DataFrame's information. To warm up, let's load and do a preliminary examination of a dataset. 

# Warm-up Practice

In the `data` folder, you will find a .csv file called, `rock.csv`. In the next blocks, 
1. Load the `rock.csv` file as a DataFrame and assign it to the variable `rock_df`
1. Determine the size of the DataFrame (number of observations, number of features)
1. Print out the names of the features (columns)
1. Print out the first five observations (rows)
1. Print out the last five observations (rows)
1. Determine the feature type and number of non-null values for each feature
1. Determine the DataFrame file size

In [ ]:
# Load the rock.csv file as a DataFrame

In [ ]:
# Determine the size of the DataFrame

In [ ]:
# Print out the names of the features (columns)

In [ ]:
# Print out the first five observations (rows)

In [ ]:
# Print out the last five observations (rows)

In [ ]:
# Determine the feature type and number of non-null values for each feature



# Determine the DataFrame file size

**GREAT JOB!**

We loaded a DataFrame and we began to get an idea of the data inside of it. 

A phrase that you will hear often, say often after hearing it, and learn its truth by experience is 
    90% of a data analyst's or data scientist's time is spent cleaning data
    
As we look at the dataset we just loaded, we see a couple of things that bring truth to this statement. 
1. **What do you notice about the feature names?**
1. **What do you notice about the number of non-null values in the dataset?**

Let's do a bit of cleaning, starting with the feature (column) names. 


# Cleaning up column names

There are three ways to clean up column names. 

## Method 1 - Clean when you import the dataset

The first method is to assign new names to the column as the DataFrame is imported through the `pd.read_csv()` command.To clean column names as a DataFrame is being read into Python, you pass a list of strings to Python. The list of strings has as many strings passed as there are columns in the DataFrame.

In [ ]:
# Change the column names when loading the '.csv':
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg'] #Pass a list 
rock_df2 = pd.read_csv('data/rock.csv', names=column_names, skiprows=1) #establish a new DF
rock_df2.head() #Look at the DF head to see the difference

___
**NOTE**: When you create custom column names, the first row of the `.csv` already represents a header. It is important to tell `pandas` to skip that row. The `skiprows=1` keyword argument to `read_csv()` will tell `pandas` to skip the first row.
___



## Method 2 - .rename( )

The `.rename()` function takes an argument, `columns=name_dict`, in which `name_dict` is a dictionary containing the original column names as keys and the new column names as values.

In [ ]:
# Change the column names using the `.rename()` function.

rock_df3 = pd.read_csv('data/rock.csv')

rename_map = {
    # Original column: [renamed column]
    'Song Clean':    'song', 
    'ARTIST CLEAN':  'artist', 
    'Release Year':  'release', 
    'COMBINED':      'song_artist', 
    'First?':        'first', 
    'Year?':         'year', 
    'PlayCount':     'playcount', 
    'F*G':           'fg'
}

rock_df3.rename(columns=rename_map, inplace=True)#The inplace value tells python to run the command.
rock_df3.head(4)

## Method 3 - Reassigning the `.columns` attribute of a DataFrame

You can also just reassign the `.columns` attribute to a list of strings containing the new column names. 

The only caveat with reassigning `.columns` is that you have to reassign all of the column names at once. You can't partially replace a value by working on `.columns` directly. You have to reassign `.columns` with a list of equal length.

In [ ]:
# Replace the column names by reassigning the `.columns` attribute.
rock_df4 = pd.read_csv('data/rock.csv')
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
rock_df4.columns = column_names

rock_df4.head()

# Cleaning up the NaN values

### .isnull( ) 

As we discovered above, there are several NaN values in the "release" column. So let's clean these to zeros. 

We have mixed `str` and `NaN` values in the `release` column. `NaN` stands for "not a number". This is the way Pandas handles "nulls" or nonexistent data. We can use the `.isnull()` method of a Series to find null values.

To start, let's get a subset of the DataFrame where only the observations (rows) with NaN values in the "release" column are showing. To do this, we will use a "mask". 

First, we will establish a variable that pulls the coordinates for the observations we want to see.

In [ ]:
# This will show us the records where there is a 'null' value in the "release" column

null_release_values = rock_df4['release'].isnull() 
#null_release_values is only a variable name. You can use any that you want for the variable. 

rock_df4[null_release_values].head()

### Update slices of your DataFrame based on mask selection/slices.

In many scenarios, we want to upate values in our DataFrame according to criteria. Let's say we wanted to set all of the null values in `release` to 0.

With newer versions of `pandas`, in order to manipulate data in the original DataFrame, we have to use `.loc` while performing reassignment using a mask and an index.

For example, the following won't always work:
```python
    df[row_mask]['column_name'] = new_value
```

The best way to accomplish the same task is:
```python
    df.loc[row_mask, 'column_name'] = new_value
```

For multiple column assignment, you would use:
```python
    df.loc[row_mask, ['col_1', 'col_2', 'col_3']] = new_value
```

Let's try it out. Make all of the null values in `release` 0.

In [ ]:
# We're going to reload our data to a fresh state.
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df = pd.read_csv('data/rock.csv', names=column_names, skiprows=1)# we changed the name of the df for this

# We are creating/identifying the target subset and using it as an indexing tool to set values
null_release_value = df['release'].isnull()

# We are changing the NaN values in "release" to zero
df.loc[null_release_value, 'release'] = 0

# We'll then print out our DataFrame's first 15 rows to verify
df.head(15)

Now let's use the `.sum()` command - a new command - to verify that "release" contains no null values.

In [ ]:
df.isnull().sum()

### Ensure that the data types of the columns make sense. 

Verifying column data types is a critical part of data munging. If columns have the wrong data type, then there is usually corrupted or incorrect data in some of the observations.

#### Look at the data types for the columns. Are any incorrect given what the data represents?

In [ ]:
df.info()

_Only the `release` column appears to be wrong. It is represented as a string but should be an integer for year._

### Investigate and clean up the `release` column.

The `release` column is a string data type when it should be an integer.

#### Figure out what value(s) are causing the `release` column to be encoded as a string instead of an integer.

In [ ]:
# Looking at the unique values in the column can be a good way to find offending values:
df.release.unique()

A row has SONGFACTS.COM as a value — this is clearly not a year.

#### Look at the rows in which there is incorrect data in the `release` column.

In [ ]:
# Slice and assign
release_mask = (df['release'] == "SONGFACTS.COM")

# Show the offending observation (row)
df[release_mask]

#### Clean up the data. 

We previously converted all of the nan values in the release column to zeros so we might as well continue with the same practice (there are other ways which we will discuss in the future). Replacing with zero (or nan) will allow us to convert the column to numeric.

In [ ]:
# Reassign a value of zero to the offending row
df.loc[release_mask, 'release'] = 0

# Change the "release" column to integers
df['release'] = df['release'].astype(float)

# Verify that the change was made
df.info()

#### Print out the unique values for the `release` column. Do the release dates look correct?

From what we learned above, print out the unique values of the "release" column, so we can examine them to insure they are now correct.

In [ ]:
df.release.unique()

# Practice

Given everything we have learned so far in this lesson and from the last meet-up,
1. Find the observation (row) that has the '1071' error in it
1. Correct the error
1. Verify that the error is correct

In [ ]:
# Find the observation (row) that has the error in the release column

In [ ]:
# Correct the error - the correct year is 1971

In [ ]:
# Verify the error is corrected